body {
    background-color: #eeeeee;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("pahadbackground.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 13%;

}

.div2 {
    background-color: white;
    margin: 4.5%;
    padding: 3%;

}

.para1,
.smallpara,
.p3,
.p4,
.lastpara,
.endc {
    font-family: noto_sansregular, sans-serif;
    font-size: 1.063rem;
    line-height: 1.688rem;
    ;
}

em ul li {
    line-height: 20px;
    font-weight: 500;
}

.orderlist {
    font-family: AllianzSans;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

.div1 {
    display: contents;
    position: absolute;
    flex-direction: row;
    align-items: end;
}

.searchimg {
    /*float: right;
    margin-right: 3cm;
    margin-top: 0.7cm;*/
    position: absolute;
    top: 8%;
    right: 11%;
}

.arrow,
.headingg {
    position: absolute;
    left: 11%;
    top: 8.5%;
    /*margin-left: 3cm;
    top: 2cm;*/
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
    color: white;

}

.headingg {
    left: 15%;
    top: 3.5%;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: 300;
}

.mainheading {
    color: #002c77;
    font-size: 3rem;
    word-spacing: 15px;
    font-family: noto_serifregular, serif;
    line-height: 3.875rem;
    font-weight: 400;
}

/*.div1 h2{
    margin-left:4.7cm;
    position: absolute;
    top:1.5cm;
    color: white;
}*/

.submit {
    padding: .2%;
    border: 1px black solid;
}

@media screen and (max-width:700px) {
    .headingg {
        left: 18%;
    }

}

@media screen and (max-width:550px) {
    .headingg {
        top: 3%;
        font-size: 1.5em;
    }

    .arrow {
        top: 7.5%;
        left: 7.5%;
        font-size: 1.5em;
    }

}

@media screen and (max-width:450px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:374px) {
    html {
        width: 110%;
    }
    .searchimg{
        right: 2%;
        top: 10%;
    }
}